annotated-types
anyio
beautifulsoup4
blinker
certifi
cffi
charset-normalizer
click
contourpy
cryptography
cycler
distro
Flask
flask-cors
fonttools
google-auth
google-genai
gunicorn
h11
httpcore
httpx
idna
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
numpy
nvidia-nccl-cu12
packaging
pandas
pillow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pyparsing
python-dateutil
python-dotenv
requests
scikit-learn
scipy
seaborn
six
sniffio
soupsieve
tabulate
tenacity
threadpoolctl
typing-inspection
typing_extensions
urllib3
websockets
Werkzeug
xgboost
